@using StripeDemo.Controllers
@using Microsoft.AspNetCore.Http.Extensions
@model List<ProductData>
@{
    ViewData["Title"] = "Stripe";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Time to learn some stripe stuffs!</p>
</div>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="card" style="width: 18rem; margin: 1em;">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: @(product.PrimaryPriceValue != null ? $"${(decimal)product.PrimaryPriceValue / 100}" : "Unknown")</p>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <a href="@Url.Action("StartCheckout", "Stripe")?returnUrl=@Context.Request.GetEncodedUrl()" class="btn btn-primary">Add Products to Cart</a>
        <a href="@Url.Action("StartCheckout", "Stripe")?returnUrl=@Context.Request.GetEncodedUrl()&isSubscription=true" class="btn btn-primary">Add Subscriptions to Cart</a>
        <a href="@Url.Action("GenerateInvoice", "Stripe")" class="btn btn-primary">Generate Product Invoice</a>
    </div>
    <div class="row">
        <h4>Raw Product JSON</h4>
        <pre>
            @ViewData["products-json"]
        </pre>
    </div>
</div>